html,
body {
  padding: 0;
  margin: 0;
  background-color: #FEFCF7;

  overflow-x: hidden;
  /* Disable horizontal scrolling */
  overflow-y: auto;
  /* Enable vertical scrolling */
  font-family: 'Rellydon', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* * {
  font-family: 'Noto Serif KR', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
} */

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* global.css */
.button-hover:hover {
  background-color: #a1695d;
  /* Otros estilos para el hover */
}

.swal-input:hover {
  border-color: red;
  /* Cambia el color del borde en hover */
}

.swal2-confirm {
  font-family: inherit;
}

.swal2-cancel {
  font-family: inherit;
}

/* Default state */
.custom-select {
  color: black;
  /* Default text color */
  border: 1px solid #ccc;
  /* Default border color */
}

/* Focus state */
.custom-select:focus {
  border-color: #B88474;
  /* Change border color when focused */
  outline: none;
  /* Remove default focus outline (optional) */
}

/* Selected option within the select box */
.custom-select option:checked {
  background-color: yellow;
  /* Background color of selected option */
  color: red;
  /* Text color of selected option */
}